.btn {
  font-family: "Montserrat", sans-serif;
  border: none;
  color: white;
  background: #18a0fb;
  /* background: linear-gradient(to right , #18a0fb , #26a8ff); */
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  width: 120px; 
  padding: 8px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.light_button {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  border: 1px solid #18a0fb;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 120px;
  color: #18a0fb;
  cursor: pointer;
  transition: 0.3s;
}

.light_button:hover {
  background-color: #18a0fb;
  color: white;
  transform: scale(1.1);
}

.btn:hover {
  color: white;
  background-color: #000000;
  transform: scale(1.1);
  outline: 1;
}
