.A {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.testimonialBox {
    flex: 25%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 64px;
    width: auto;
    padding: 30px;
}

.heading {
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.015em;
}

.description {
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.015em;
    flex-wrap: wrap;
    margin-top: 10px;
    width: auto;
    display: flex;
}

.one {
    background-color: black;
    height: 190px;
    width: 100%;
    /* margin-left: 100px; */
    /* margin-right: 20px;
    margin-left: 20px; */
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

@media (max-width: 786px) {
    .testimonialBox {
        flex: 100% 0 !important;
        max-width: 100% !important;
    }
    .A {
        flex-wrap: wrap;
    }
}