.settings_menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 5px;
}
.settings_menu {
  width: 90%;
  display: flex;
  /* border: 1px solid; */
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: .3s;
}
.settings_menu:hover {
  color: white;
  background-color: black;
  transform: scale(1.02);
  outline: 1;
}
.img_container {
  width: 55px;
  margin: 2px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.desc {
  width: 90%;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img_arrow {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
@media only screen and (max-width: 1000px) {
  .settings_menu {
    width: 95%;
  }
}
@media only screen and (max-width: 580px) {
  .img_container {
    width: 65px;
    margin: 2px;
    height: 40px;
  }
  .img_arrow {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}
