.body {
  margin: 0px;
  padding: 0px;
  background: #e5e5e5;
  height: auto;
  font-family: Arial;
  overflow: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login {
  height: 98vh;
  justify-content: space-around;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  margin-top: 45px;
  height: auto;
  padding: 25px;
  flex-direction: column;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.header {
  text-align: center;
  /* border-style: dotted; */
  font-size: 38px;
  padding: 5px;
  margin-top: 25px;
}

.subheader {
  /* border-style: groove; */
  font-size: 25px;
  max-width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  padding-inline: 5%;
  min-width: 450px;
  padding: 45px;
  padding: 20px;
  min-height: 55%;
  background: #ffffff;
  margin-bottom: 35px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.input-container {
  display: flex;
  width: 100%;
}

.box_title {
  width: 80%;
  font-weight: bold;
  font-size: 20px;
  /* border-style: dotted; */
  margin: 10px;
}
.border {
  height: 35px;
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 200px;
  padding: 10px;
}

.form_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text_input {
  width: 100%;
  margin-right: 97px;
  padding: 8px;
  color: rgba(0, 0, 0, 0.8);
}

/* ::placeholder {
  color: rgba(0, 0, 0, 0.8);
} */
.text_input_A {
  width: 100%;
  padding: 5px;
  color: rgba(0, 0, 0, 0.8);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.formc {
  min-width: 100%;
  /* border-style: double; */
  flex-direction: column;
}

.form {
  min-width: 100%;
  /* border-style: double; */
  flex-direction: row;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  background: #18a0fb;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  width: 120px;
  padding: 8px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.membership {
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  width: 70%;
  display: flex;
  background-color: white;
  height: auto;
  padding: 25px;
}
.mem_left {
  padding: 20px;
  display: flex;
  flex: 2;
  width: 100%;
  flex-direction: row;
 
}
.mem_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
}
.mem_right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.jointodaybutton {
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  background: #18a0fb;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  width: 120px;
  padding: 8px;
  margin: 10px;
}

@media only screen and (max-width: 930px) {
  /* .login {
    background-color: rgb(200, 200, 200);
  } */
  .header {
    font-size: 25px;
    margin-top: 25px;
  }
  .subheader {
    font-size: 18px;
  }
  .mem_text {
    font-size: 18px;
  }
  .app {
    width: 90%;
  }
  .buttons{
    flex-wrap: wrap;
  }
  .membership {
    width: 90%;
  }
  .box {
    min-width: 65%;
  }
  .mem-text {
    font-size: 15px;
  }

}

@media only screen and (max-width: 530px) {
  .header {
    font-size: 25px; 
  }
  .input_container {
    flex-wrap: wrap;
  }
  .box {
    min-width: 85%;
  }
  .subheader {
    font-size: 16px;
  }
  .mem-text {
    font-size: 16px;
  }
  .app {
    width: 100%;
  }
  .membership {
    /* margin-top: 15px; */
    width: 100%;
  }
  .mem-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 465px) {
  .login {
    height: auto;
  }
  .app {
    height: auto;
  }
  .text_input {
    margin-right: 15px;
  }
  .box {
    border-style: none;
    margin-bottom: 5px;
  }
  .membership {
    height: auto;
    flex-wrap: wrap;
  }
  .mem_text{
    font-size: 15px;
    padding: 10px;
  }
}
@media only screen and (max-width: 366px) {
  .buttons {
    flex-wrap: wrap !important;
  }
  .btn{
    margin-bottom: 10px;
  }
  .select{
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 423px) {
  .jointodaybutton{
    margin: 2px;
  }
  .mem_left{
    flex: 1.6;
    min-width: 200px;
  }
}