.lawyer_filter_box_check_box_container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .checkbox_text {
    margin-left: 10px;
    font-size: 23px;
  }
  .checkbox {
    border: lawngreen;
    width: 20px;
    height: 20px;
  }