.lawyer_reviews_container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
  }
  
  .lawyer_reviews_profile_pic {
    height: 50px;
    width: 50px;
    display: flex;
    min-width: 50px;
    min-height: 50px;
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .lawyer_reviews_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 2px;
  }
  .lawyer_reviews_username{
    font-size: 25px;
  }
  .lawyer_reviews_username_rating{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .lawyer_reviews_username_comment{
    font-size: 15px;
  }

  @media only screen and (max-width: 900px){
    .lawyer_reviews_section {
        padding: 28px;
      }
  }
