.App {
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    overflow: hidden;
    font-family: 'Montserrat';
  }
  .Main {
    justify-content: space-evenly;
    display: flex;

    margin: 10px;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .image {
    /* border-radius: 1px; */
    box-shadow: -2px 1px 10px #3b3a3b;
    /* border-radius: 10px; */
    object-fit: fill;
  }

  .left_box{
    min-width: 400px;
    min-height: 200px;
  
    /* border-radius: 15px; */
    overflow: hidden;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .right_box{
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    /* border-style: dashed; */
    min-width: 400px;
    min-height: 200px;
    justify-content: center;
  }

  .h1_heading{
    margin-left: 20px;
    font-weight:bold;
    font-size:24px;
    line-height: 36px;
  }
  .description{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
  }
  @media only screen and (max-width: 450px) {
    /* body {
      background-color: rgb(66, 69, 70);
    } */
    .left_box {
      min-height: auto;
      min-width: 300px;
     
    }
      .right_box{
      /* background-color: aqua; */
      min-width: 200px;
      min-height: 100px;
    }
  }
  @media only screen and (max-width: 350px) {
    /* body {
      background-color: rgb(66, 69, 70);
    } */
    .left_box {
      min-height: 200px;
      min-width: 100%;
 
    }
    .right_box{
      /* background-color: aqua; */
      min-width: 200px;
      min-height: 100px;
      justify-content: center;
    }
    .description{
        text-align:justify;
        margin-left: 0px;
    }

    .h1_heading{
        font-size: 20px;
        margin-left: 0px;
        /* text-align: center; */
    }
  
  }