.banner {
  box-shadow: 2px 2px 10px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 45%;
  min-width: 350px;
  padding: 10px;
  margin-bottom: 50px;
  background-color: #fff;
}
.banner_heading {
  font-size: 35px;
  text-transform: uppercase;
  margin: 15px;
  color: rgb(78, 78, 251);
}
.banner_price {
  font-size: 25px;
  font-weight: bolder;
  margin: 10px;
}
.banner_description {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.banner_features {
  width: 50%;
  margin: auto;
  display: flex;
  padding-right: 20px;
  /* border-style: dashed; */
  justify-content: center;
}
.banner_features_list {
  list-style: url("https://cdn.discordapp.com/attachments/715197944202002584/715545793238401130/tick.png");
}
.list {
  font-size: 20px;
}
.banner_button {
  margin: 20px;
}

@media only screen and (max-width: 400px) {
  .banner {
    min-width: auto;
    flex: 100%;
  }
  .banner_features {
    width: 70%;
  }
}
