::placeholder {
  font-family: "Montserrat";
}
input {
  font-family: "Montserrat";
}
.text_input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border: 1px solid #696969;
}

@media only screen and (max-width: 465px) {
  .text_input {
    margin-right: 15px;
  }
}
