 @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
 .App {
     font-family: sans-serif;
     text-align: center;
     display: flex;
     font-family: "Montserrat", sans-serif;
     justify-content: space-between;
     width: auto;
     align-items: center;
     /* padding: 10px; */
 }
 
 .brand2 {
     display: none;
     font-family: "Montserrat", sans-serif;
     width: auto;
     text-align: center;
     align-items: center;
     padding: 10px;
 }
 
 .left {
     display: flex;
     text-align: left;
     width: 100%;
     justify-content: space-between;
     padding: px;
 }
 
 .right {
     text-align: right;
 }
 
 .list {
     list-style-type: none;
     padding: 0px;
     display: flex;
     margin: 0px;
     justify-content: space-between;
     width: 100%;
 }
 
 .li {
     padding-top: 10px;
     padding-bottom: 10px;
     /* margin: 5px; */
     width: 100%;
     font-size: 15px;
     font-weight: bold;
 }
 
 .brand {
     display: flex;
     margin-right: 10px;
     font-family: "Comfortaa", cursive;
     font-size: 28.4444px;
     margin-left: 10px;
     font-size: 35px;
 }
 
 .brand>img,
 .brand2>img {
     border-radius: 8px;
 }
 
 @media screen and (max-width: 900px) {
     .brand2 {
         display: none;
     }
     .list {
         flex-direction: column;
     }
     .li {
         width: auto;
     }
 }
 
 @media screen and (max-width: 770px) {
     .App {}
 }
 
 @media screen and (max-width: 490px) {
     .App {
         /* background-color: aqua; */
     }
     .brand {
         display: none;
     }
     .li {
         font-size: 15px;
         width: auto;
     }
     .brand2 {
         display: block;
     }
     .list,
     .right,
     .left,
     .li {
         width: auto;
         height: auto;
     }
 }
 
 @media screen and (max-width: 350px) {
     .list,
     .right,
     .left,
     .li {
         width: auto;
         height: auto;
         margin: 0px;
     }
     .App {
         padding: 0px;
     }
 }