.filter_selected {
    width: auto;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    border-radius: 25px;
    border: 1px solid;
    background-color: #f1f1f1;
    padding: 8px;
    transition: 0.3s;
  }
  .image_container {
    height: 100%;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .image {
    width: 80%;
    height: 15px;
    transition: 0.3s;
  }
  .filter_selected:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 10px rgb(195, 195, 195);
  }
  .image:hover {
    transform: scale(1.1);
    background-color: red;
    border-radius: 50%;
    padding: 3px;
  }
