/* * {
  margin: 0px;
  padding: 0px;
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.navbarhandler {
  position: fixed;
  width: 100%;
}

.img {
  height: 100%;
  width: 100%;
}

.jumbotron {
  margin-left: 0px;
  margin-right: 0px;
  color: aliceblue;
  background-image: url("https://www.plantbasednews.org/.image/t_share/MTY2NTE1MDcyMTk2MTU4NzA2/harvard-law-school-plantbased.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  border-style: double;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;
  height: 99.41vh;
  width: auto;
  align-items: center;
  justify-content: space-evenly;
}

.section_down {
  /* border-style: double;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center; */
}
.membership {
  height: 340px;
  margin-left: 80px;
  margin-right: 80px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  margin-left: 80px;
  margin-right: 80px;
}

/* h1 {
  align-items: center;
  justify-content: center;
  font-size: 80px;
} */
@media screen and (max-width: 650px) {
  .membership {
    height: auto;
    justify-content: center;
  }
  .section , .membership , .footer {
    margin-left: 0px;
    margin-right: 0px;
  }
}
