/* * {
  margin: 0px;
  padding: 0px;
} */

.body {
  overflow: hidden;
}
.navbarhandler {
  position: fixed;
  width: 100%;
}

.img {
  height: 100%;
  width: 100%;
}

.jumbotron {
  color: aliceblue;
  background-image: url("https://www.plantbasednews.org/.image/t_share/MTY2NTE1MDcyMTk2MTU4NzA2/harvard-law-school-plantbased.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center;
}

.section {
  border-style: double;
  display: flex;
  flex-direction: row;
  height: 99.41vh;
  width: auto;
  align-items: center;
  justify-content: space-evenly;
}

.section_down {
  border-style: double;
  display: flex;
  flex-direction: column;
  height: 99.41vh;
  align-items: center;
  justify-content: center;
}
.membership {
  height: 60vh;
  width: 100%;
  display: flex;
  flex: 1.2;
  border-style: double;
  align-items: center;
  justify-content: center;
}
.footer {
  flex: 1;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* h1 {
  align-items: center;
  justify-content: center;
  font-size: 80px;
} */
@media screen and (max-width: 768px) {
  /* h1 {
    font-size: 40px;
  } */
}
