.lawyer_items_card {
    width: 50%;
    max-width: 220px;
    min-width: 100px;
    height: 180px;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    cursor: pointer;
}

.items_card_price_container {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.items_card_price {
    background-color: #18a0fb;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.items_card_details_container {
    width: auto;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.items_card_image_container {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin: 5px;
}

.items_card_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.items_card_name {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.items_card_cases {
    font-size: 15px;
    font-weight: normal;
}

@media only screen and (max-width: 1010px) {
    .lawyer_items_card {
        max-width: 200px;
    }
}

@media only screen and (max-width: 835px) {
    .lawyer_items_card {
        max-width: 190px;
    }
}

@media only screen and (max-width: 780px) {
    .lawyer_items_card {
        max-width: 40%;
    }
}

@media only screen and (max-width: 450px) {
    .lawyer_items_card {
        min-width: 80%;
    }
}